#LiteProtocolTester run configurator

# Docker image of lite-protocol-tester if different than used default
#LPT_IMAGE=wakuorg/liteprotocoltester:deploy
#
## Define number of publisher and receiver nodes to run.
NUM_PUBLISHER_NODES=1
NUM_RECEIVER_NODES=1

## Can add some seconds delay before SENDER starts publishing
## Useful to let RECEIVER nodes to setup and subscribe ahead of expected messages being sent.
START_PUBLISHING_AFTER=15

## Define number of messages to be sent by each publisher node.
## Set 0 for infinite number of messages
NUM_MESSAGES=5000

## ms delay between messages - when setting this consider RLN if applied to the network use will use.
MESSAGE_INTERVAL_MILLIS=400

## Define message size range in bytes - publisher node will randomly generate message size between these values.
MIN_MESSAGE_SIZE=15Kb
MAX_MESSAGE_SIZE=145Kb

## You can define service peers for publishers and receivers if you know ahead the exact peers. Specify either with multiaddress or ENR.
LIGHTPUSH_SERVICE_PEER=/ip4/10.2.0.101/tcp/60001/p2p/16Uiu2HAkyte8uj451tGkbww4Mjcg6DRnmAHxNeWyF4zp23RbpG3n
FILTER_SERVICE_PEER=/ip4/10.2.0.101/tcp/60001/p2p/16Uiu2HAkyte8uj451tGkbww4Mjcg6DRnmAHxNeWyF4zp23RbpG3n

## Predefined values for different fleets - or set according to your needs
### for wakusim
PUBSUB=/waku/2/rs/66/0
CONTENT_TOPIC=/tester/2/light-pubsub-test/wakusim
CLUSTER_ID=66
